.home {
  padding-top: 0;
}

.home-intro {
  padding: 150px 0;
}

.section {
  padding: 100px 0 120px 0;

  .section-title {
    margin-bottom: 50px;
  }
}

.image-separator {
  min-height: 500px;
}

.program {
  .program-item {
    margin-bottom: 40px;
  }
}

.facilitators {
  .facilitator-item {
    img {
      margin-bottom: 25px;
    }   
  }
}

.places {
  padding: 50px 0;

  img {
    margin: 0px 15px;
  }
}

.signup {
  .details {
    padding-top: 35px;
  } 
  
  .the-deal {
    h2 {
      margin-bottom: 25px;
    }

    .introduction-price {
      margin-bottom: 35px;
    }
  }
}

.topbar-wrap {
  .topbar {
    z-index: 5;

    a {
      padding: 15px 10px;
      display: block;
    }

    &.active {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
    }
  }

  .spacer {
    width: 100%;
    display: none;
  }

  &.active {
    .spacer {
      display: block;
    }
  }

  @include max-screen(630px) {
    display: none;
  }
}

// Questions
.apply-form {
  margin: 40px 0;
}

.questions {
  margin-top: 40px;

  .question {
    margin-bottom: 30px;

    .question-title {
      margin-bottom: 10px;
    }
  }
}