
.home-intro {
  padding: 150px 0;
}

.section {
  padding: 100px 0 120px 0;

  .section-title {
    margin-bottom: 50px;
  }
}

.image-separator {
  min-height: 500px;
}

.program {
  .program-item {
    margin-bottom: 40px;
  }
}

.facilitators {
  .facilitator-item {
    img {
      margin-bottom: 25px;
    }   
  }
}

.places {
  padding: 50px 0;

  img {
    margin: 0px 15px;
  }
}

.signup {
  .details {
    padding-top: 35px;
  } 
  
  .the-deal {
    h2 {
      margin-bottom: 25px;
    }

    .introduction-price {
      margin-bottom: 35px;
    }
  }
}

.topbar-wrap {
  .topbar {
    a {
      padding: 10px;
      display: block;
    }
  } 
}