
.cover-photo {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.home-intro {
  background-attachment: fixed;
  background-image: $hero-intro-angel;
  @extend .cover-photo;

  .headline {
    h1 {
      color: $white;
    }

    p {
      color: $white;
      @include text-size-large;
    }
  }
}

.section {
  .section-title {
    text-align: center;
  }
}

.image-separator {
  background-attachment: fixed;
  box-shadow: inset 0 1px 10px rgba(0,0,0,.5), inset 0 -1px 10px rgba(0,0,0,.5);
  @extend .cover-photo;

  &.img-s-1 {
    background-image: $img-s-1;
  }

  &.img-s-2 {
    background-image: $img-s-2;
  }

  &.img-s-3 {
    background-image: $img-s-3; 
  }
}

.facilitators {
  .facilitator-item {
    text-align: center;   
  }
}

.places {
  text-align: center;
}

.signup {
  background: $signup-angel right bottom no-repeat;

  .details {
    text-align: center;

    h4 {
      text-transform: uppercase;
      font-weight: 700;
    } 
  }

  .the-deal {
    text-align: center;

    h2 {
      font-size: 52px;
    }

    .old-price {
      text-decoration: line-through;
      color: #808080;
      @include text-size-large;
    }

    .introduction-price {
      font-size: 30px;

      span {
        display: block;
        @include text-size-regular;
      }
    }
  }
}

.topbar-wrap {
  .topbar {
    background: #fff;
    border-bottom: 1px solid #f2f2f2;

    .col-inner {
      text-align: center;
    }

    a {
      text-align: center;
      text-transform: uppercase;
      color: $primary-color;
      font-size: 14px;
      font-weight: 700;
    }
  } 
}