<fieldset>
  <label><%= question.question %></label>

  <% case question.type %>
  <% when 'textarea' %>
  <%= f.text_area question.question %>
  <% when 'select' %>
  <%= f.select question.question, options_from_collection_for_select(question.choices, :to_s, :to_s) %>
  <% end %>
</fieldset>