 <div class="cols-12">
   <div class="col col-12">
     <div class="col-inner">
       <div class="section-title">
         <h5><%= question.question %></h5>
         <p>
           <% case question.type %>
           <% when 'textarea' %>
           <%= f.text_area question.question, :rows => 5, :cols => 60 %>
           <% when 'select' %>
           <%= f.select question.question, options_from_collection_for_select(question.choices, :to_s, :to_s) %>
           <% end %>
         </p>
       </div>
     </div>
   </div>
 </div>

