<div class="apply-form">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <h1>Inscríbete</h1>
          <h3>Cuentanos un poco sobre ti</h3>
        </div>
      </div>
    </div>
    
    <%= form_for @application do |f| %>
      <div class="cols-12 questions">
        <div class="col col-9">
          <div class="col-inner">
            <%= fields_for :answers do |f| %>
              <%= render :partial => 'question', :collection => @questions, :locals => {:f => f, } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <%= f.button 'Enviar', :class => 'btn btn-primary btn-large' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
  $('.new_application').validate();
</script>