<div class="home-intro hero-intro">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-7">
        <div class="col-inner">
          <div class="headline">
            <h1>¡Gracias!</h1>
            <p>
              Pronto nos pondremos en contacto contigo!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
