<% 
  set_meta_tags title: 'Gracias por aplicar',
  description: 'Escuela para crear y desarrollar soluciones a problemas del mundo real, utilizando las herramientas de software del momento.',
  keywords: 'escuela, hacker, programacion, development, summer, camp',
  og: {
    title: 'Dev.f',
    description: 'Escuela para crear y desarrollar soluciones a problemas del mundo real, utilizando las herramientas de software del momento.',
    image: 'http://devf.mx/images/website/og-devf.png',
    url: 'http://devf.mx/applications/new/'
  }
%>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=1615415365349406&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="home-intro hero-intro">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="headline thanks-message">
            <h1>¡Gracias por aplicar!</h1>
            <br>
            <p>Comparte el amor y si un amigo tuyo se inscribe solo paga $9,999 por sus cursos.</p>
            <div class="share-box">
              <div class="twitter-share">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://devf.mx/applications/new" data-text="Ya me inscribe al curso Cinta Blanca de @devfmx" data-lang="es" data-count="none">Twittear</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </div>
              <div class="fb-share">
                <div class="fb-share-button" data-href="http://devf.mx/applications/new" data-type="button"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
