<% content_for :title do %> 
  ¡Hola <%= @user.name %>! 
<% end %>

<% content_for :subtitle do %>
Muchas gracias por haber aplicado al Dev.F. Después de haber revisado tu aplicación, te tenemos buenas noticias: ¡HAS PASADO A LA SIGUIENTE RONDA DE ENTREVISTAS DEL Dev.F.! ¡Bien hecho y felicidades! :D
<% end %>

<p>
El siguiente paso es asistir a la sesión informativa presencial que llevaremos a cabo en <b>The Pool (Goldsmith 40, Polanco) el Jueves 22 de Enero de 7pm a 9pm. Asegúrate de llegar puntual. </b>
</p>


<p>
Es muy importante que asistas a esta sesión, ya que ahí te entrevistaremos en persona y además aclararemos todas las dudas relacionadas con precios del programa, horarios, logística, contenidos, y otros detalles que puedan surgir.
</p>

<p>
Quienes no asistan a las sesión informativa tendrán una considerable desventaja sobre quienes sí asistan para ingresar al Dev.F. Esto porque entrevistar en persona es mucho más valioso para nosotros que entrevistar por videoconferencia. Recuerda que la lista de personas que quieren ingresar es muy grande y por lo mismo es importante realizar una buena entrevista para obtener un lugar. :)
</p>

<p>
Nos emociona mucho conocerte pronto en persona y esperamos acabes formando parte del Batch 3 del Dev.F. Estás un paso más cerca de explorar el sendero de la cultura hacker. :D
</p>


<p>
¡Un abrazo del Equipo Dev.F.!
</p>


