<% content_for :title do %> 
  ¡Hola <%= @user.name %>! 
<% end %>


<p>
Te tenemos excelentes noticias. Después de una revisión minuciosa de las aplicaciones finalistas, te informamos con mucha emoción que <b>¡has pasado el segundo filtro de selección para el Batch 3 del Dev.F. y que ya eres parte de este nuevo programa de la escuela de hackers!</b>
</p>

<p>
El siguiente paso es que te presentes en <b>The Pool (Goldsmith 40, Polanco) el próximo Lunes 6 de Abril a las 6:00 pm</b> trayendo contigo tu laptop y todas las ganas de comenzar a hackear con nosotros. Ahí te daremos al inicio una sesión informativa para que aclares todas tus dudas.
</p>

<p>
Por favor confirma tu asistencia escribiendo a <a href="mailto:youremailaddress">eme@devf.mx</a> y sin más, ¡te esperamos pronto para comenzar esta nueva experiencia! De igual manera, si tienes dudas, también escribe a esta dirección.
</p>



<p>
¡Un abrazo del Equipo Dev.F.!
</p>


