<% content_for :title do %> 
  ¡Hola <%= @user.name %>! 
<% end %>

<% content_for :subtitle do %>
Muchas gracias por haber aplicado al Dev.F. Recibimos tu aplicación hace unos días y la información contenida en ella nos ha permitido conocerte mejorar y explorar si tu perfil es el indicado para ingresar a nuestros programas.

Después de haber revisado tu aplicación, te tenemos buenas noticias: ¡HAS PASADO A LA SIGUIENTE RONDA DE ENTREVISTAS DEL Dev.F.! ¡Bien hecho y felicidades! :D

<% end %>

<p>

El siguiente paso es llenar este formulario y asistir a una de las dos sesiones informativas presenciales que llevaremos a cabo:
- Centraal (Zamora 187, Condesa) – Lunes 19 de Enero de 7 a 9pm.
- The Pool (Goldsmith 40, Polanco) – Martes 20 de Enero de 7 a 9pm.
</p>

<p>

Es muy importante que asistas a una de estas sesiones, ya que ahí te entrevistaremos en persona y además aclararemos todas las dudas relacionadas con precios del programa, horarios, logística, contenidos, y otros detalles que puedan surgir.

<p>

Quienes no asistan a las sesiones informativas tendrán una considerable desventaja sobre quienes sí asistan para ingresar al Dev.F. Esto porque entrevistar en persona es mucho más valioso para nosotros que entrevistar por videoconferencia. Recuerda que la lista de personas que quieren ingresar es muy grande y por lo mismo es importante realizar una buena entrevista para obtener un lugar. :)

</p>

<p>
Nota importante: si te es absolutamente imposible asistir a las sesiones informativas en esas fechas, envíanos un correo a ver qué podemos hacer.
</p>

<p>
Nos emociona mucho conocerte pronto en persona y esperamos acabes formando parte del Batch 3 del Dev.F. Estás un paso más cerca de explorar el sendero de la cultura hacker. :D
</p>

<p>
¡Un abrazo del Equipo Dev.F.!
</p>


<p>
Abrazos, <br>
El Equipo Dev.F.
</p>
