<% content_for :title do %> 
  ¡Hola <%= @user.name %>! 
<% end %>


<p>
Esperamos estés muy bien. <b>¡Queremos felicitarte!</b> Has pasado exitosamente el primer filtro de aplicaciones para el Batch 4 del Dev.F.Esto significa que estás un paso más cerca de ser parte de la primera escuela de hackers de México. :D
</p>

<p>
Lo que sigue es que en los próximos días te estaremos informando de cual es el siguiente paso en este proceso de selección. Aún falta otro filtro del cual te platicaremos muy pronto.
</p>


<p>
¡Un abrazo del Equipo Dev.F.!
</p>


