<% content_for :title do %> 
  ¡Hola <%= @user.name %>! 
<% end %>
<p>
Hace algunos días tuvimos una entrevista contigo para conocerte mejor y explorar si tu perfil es el indicado para entrar al primer curso Cinta Blanca de Dev.F. Tenemos el veredicto para tí:

¡FELICIDADES, HAS SIDO ACEPTAD@ AL PROGRAMA!
</p>

<p>
Nos emociona mucho que vayas a formar parte de este primer curso. Esperamos que tú también vengas con todas las ganas de aprender a construir y de convertirte en un/una gran hacker.
</p>

<p>

Algunos puntos importantes que debes tomar en cuenta para este curso:
<p>

	•	El curso es presencial en la Ciudad de México. Se llevará a cabo en Centraal – http://centraal.com – ubicado en Zamora 187, col. Condesa; del Lunes 7 de Julio al Sábado 2 de Agosto, de Lunes a Viernes de 3 a 9pm.
</p>

<p>

	•	Para el tema de hospedaje (los que vienen de fuera del DF): te sugerimos que busques algún lugar donde puedas quedarte durante ese tiempo, ya sea con amigos o familiares. Si no tienes ni idea de qué hacer con respecto a tu hospedaje, escríbenos a hola@devf.mx y haremos nuestro mejor esfuerzo por apoyarte.
</p>
<p>

	•	Depósito de formalidad: como les mencionamos en su entrevista, su colegiatura está cubierta por becas, pero sí tienen que pagar un depósito de $2,500 MXN, el cual se les regresará al final si cumplen con las reglas que les presentaremos el primer día.
</p>
<p>

	•	Trae contigo tu laptop, la vas a necesitar bastante. :D
</p>
<p>

	•	Si tienes alguna otra duda, escríbenos a hola@devf.mx y te responderemos lo más pronto posible.</br>
</p>


<p>
	Te espera un mes lleno de aprendizaje, nuevas amistades, logros y de mucho sudor. Pero todo va a valer la pena porque vas a salir de este curso siendo capaz de crear soluciones a problemas de la vida real. Descansa, te espera una buena aventura el próximo Lunes. :)

</p>

<p>
Abrazos, </br>
El Equipo Dev.F.
</p>
