<% content_for :title do %> 
  ¡Hola <%= @user.name %>! 
<% end %>


<p>
Después de una revisión minuciosa de las aplicaciones finalistas, te informamos que <b>has ingresado a la lista de espera para el Batch 4 del Dev.F.</b> Esto se debe a que tenemos espacios limitados en el programa y por el momento no podemos ofrecerle un lugar a todas las personas que aplicaron.
</p>

<p>
Dicho esto, durante la primera semana del Batch 4 <b>(del 6 al 10 de abril)</b> probablemente se estarán liberando nuevos lugares y es muy posible que te escribamos para que puedas tomar uno de ellos. Te pedimos por lo mismo que <b>estés muy alerta de recibir un correo nuestro invitándote a tomar uno de estos lugares.</b>
</p>

<p>
Si tienes cualquier duda, puedes escribirnos a <a href="mailto:eme@devf.mx">eme@devf.mx</a> y con gusto la aclaramos. :)

¡Saludos del Equipo del Dev.F.!
</p>



<p>
¡Un abrazo del Equipo Dev.F.!
</p>


