<% content_for :title do %>
  Hola <%= @user.name %>
<% end %>
<% content_for :subtitle do %>
  Gracias por aplicar al Dev.F
<% end %>
<p>
Nos emociona mucho que quieras tomar el Curso Cinta Blanca.<br />
Estamos recibiendo muchas aplicaciones, entonces nos tomará algunos días ponernos en contacto contigo.<br />
De lo que puedes estar seguro/a, es que tu aplicación será revisada por alguien de nuestro Core Team y entonces nos pondremos en contacto contigo.
</p>
<p>
¡Te agradecemos tu paciencia! Equipo Dev.F
</p>
<p>Mientras tanto, puedes revisar los siguientes enlaces:</p>
<% Settings.interesting_links.each_pair do |name, url| %>
<p><%= link_to name, url %></p>
<% end %>
<p>Pero sobre todo: comienza a aprender y a crear por ti mismo.</p>
<p>Recuerda que una de las cosas que más nos interesa es la iniciativa y ganas de construir que tienes.</p>
<p>Sorprendenos, nada nos emociona más que personas que no se quedan quitas, comienza ahora con algo interesante y cuentanos que cosas increibles aprendiste o hiciste mientras nos poniamos en contacto contigo.</p>
<p>O invita a participar a tus amigos, el mundo es mucho mejor cuando lo compartes con personas que se divierten haciendo lo que tú haces.</p>
<p>Puedes compartir el siguiente enlace con tus amigos:
 <%= link_to root_url, root_url %>
</p>
<p> O utilizar alguna de tus redes sociales: <br />
 <% social_share_urls('Acabo de anotarme para entrar al programa de Devf', root_url, :facebook, :twitter) do |name, url| %>
   <%= link_to name, url %>
 <% end %>
</p>
<br>
<p>¡Pronto nos pondremos en contacto contigo!</p>
