<p>Hola <%= @user.name %>,</p>

<p>
  Hemos recibido tu postulación al programa <%= @batch.name %> en <%= link_to "DevF", root_url(:host => Settings.domain) %>
</p>

<p>
  Mientras tanto puedes revisar los siguientes enlaces:
  <ul>
    <li>
      <a href='#'>Mentores</a>
    </li>
  </ul>
</p>

<p>
 O invita a participar a tus amigos, y obten un descuento por cada uno que sea aceptado.
</p>
<p>
 <small>Utiliza el siguiente enlace</small>
 <a href='#'>http://dev.mx/algun-promo-code</a>
</p>
<p>
 <a href='#'>Compartir con Facebook</a>
 <a href='#'>Compartir con Twitter</a>
</p>

<p>
  Pronto nos pondremos en contacto contigo!
</p>
