<p>Hola <%= @user.name %>,</p>

<p>
  Hemos recibido tu postulación al programa <%= @batch.name %> en <%= link_to "DevF", root_url(:host => Settings.domain) %>. 
</p>

<p>
  Revisaremos tu aplicación a la brevedad, mientras tanto puedes revisar los siguientes enlaces:
  <ul>
    <li>
      <a href='#'>Mentores</a>
      <a href='#'>How to become a hacker</a>
      <a href='#'>Hackers and Painters</a>
      <a href='#'>Software is eating the world</a>
    </li>
  </ul>
</p>

<p>
 O invita a participar a tus amigos, y obten un descuento por cada uno que sea aceptado.
</p>
<p>
 <small>Utiliza el siguiente enlace</small>
 <a href='#'>http://dev.mx/algun-promo-code</a>
</p>
<p>
 <a href='#'>Compartir con Facebook</a>
 <a href='#'>Compartir con Twitter</a>
</p>

<p>
  ¡Pronto nos pondremos en contacto contigo!
  Defv,
  desarrollamos(developers);
</p>
