<% content_for :title do %>
  ¡Hola Dev.f!
<% end %>
<% content_for :subtitle do %>
  Tenemos un nuevo candidato al programa <%= @batch.name %> 
<% end %>

<p>
  Hemos recibido una nueva solicitud de <%= link_to @user.name, admin_user_url(@user) %> para entrar al programa <%= link_to @batch.name, admin_batch_url(@batch) %> en DevF
</p>

<p>
  <%= link_to "Puedes revisarla aqui", admin_batch_application_url(@batch, @application) %>
</p>
