<% content_for :title do %> 
  ¡Hola <%= @user.name %>!

<p>
	Hace algunos días tuvimos una entrevista contigo para conocerte mejor y explorar si tu perfil es el indicado para entrar al primer curso Cinta Blanca de Dev.F.

</p>

<p>
	Desafortunadamente, tenemos un cupo muy limitado, ya que obtuvimos más de 100 aplicaciones y por temas de espacio, sólo podemos tener a 15 participantes. Por lo mismo, en este momento no podemos ofrecerte un lugar en nuestro curso Cinta Blanca. Esperamos que en el futuro, tengamos los recursos suficientes para invitar a todos los aplicantes.

</p>


<p>
	Al decirte esto, queremos pedirte que no veas este mensaje como un rechazo o una derrota, sino simplemente como que no es el momento indicado para que tomes este curso. De hecho, nos encantaría que aplicaras para el siguiente, ya que posiblemente abriremos más espacios y por lo tanto más oportunidades para que personas como tú no se queden sin la oportunidad de aprender a construir con software y así convertirse en creadores.

</p>

<p>
	Por favor, no te desanimes. Un verdadero hacker aprende más al fallar que cuando gana. ¡Esperamos ver tu aplicación para nuestros siguientes cursos! :)

</p>

<p>Te mandamos un fuerte abrazo,</br>
	El Equipo Dev.F.
</p>

