<% content_for :title do %> 
  ¡Hola <%= @user.name %>!
 <% end %>

<p>
	Muchas gracias por haber aplicado al Dev.F. Recibimos tu aplicación hace unos días y la información contenida en ella nos ha permitido conocerte mejorar y explorar si tu perfil es el indicado para ingresar a nuestros programas.

</p>

<p>
	Desafortunadamente, los espacios en el Dev.F. son limitados, ya que para este batch obtuvimos más de 500 aplicaciones y solamente podrán ingresar alrededor de 80-100 personas. Por lo mismo, en este momento no podemos ofrecerte un lugar en el programa al que aplicaste. Esperamos que en el futuro podamos continuar creciendo para así poder invitar a todos y todas nuestras aplicantes.

</p>


<p>
	¡No te desanimes! Aprovecha el curso gratuito de Programación Básica de nuestros aliados de Mejorando.la dando click <a href="https://cursos.mejorando.la/programacion-basica/?utm_source=hackdf&utm_medium=email&utm_campaign=prog-basica">aquí</a>.
</p>

<p>
	Además, como vienes referido por el Dev.F., vas a obtener descuentos en tus próximos cursos una vez que termines el básico. Así que ya sabes, ¡aprovecha este curso para continuar aprendiendo, preparándote y así empezar a recorrer por tu cuenta el sendero de la cultura hacker!
</p>

<p>
	Por otra parte, te invitamos a que vuelvas a aplicar a nuestra des-escuela una vez que se abra la convocatoria para el Batch 4 del Dev.F (Primavera 2015). 
</p>

<p>
	¡Te mandamos un fuerte abrazo de parte de todo el Equipo Dev.F. y esperamos tu aplicación para el siguiente programa!

</p>

