<p>Hola <%= @user.name %>!</p>

<p>
  Desafortunadamente no fue posible asegurar un lugar para <%= @batch.name %> en <%= link_to "DevF", root_url(:host => Settings.domain) %>
</p>

<p>
  No lo tomes personal, hemos recibido muchisimas solicitudes, y algo mas motivador aqui 
</p>

<p>
  Te invitamos a postularte para el siguiente programa.
</p>
