.btn {
  border-radius: $radius;
  cursor: pointer;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border: 0;
  outline: none;
  @include text-size-regular;

  &.btn-large {
    line-height: 50px;
  }

  &.btn-full {
    text-align: center;
  }
}

.btn-primary {
  color: $white !important;
  background: $complementary-color;
  box-shadow: inset 0 -3px 0 darken($complementary-color, 5%);
  @include linear-gradient($complementary-color, darken($complementary-color, 2.8%));

  &:hover {
    color: #fff;
    background: lighten($complementary-color, 3%);
    @include linear-gradient(lighten($complementary-color, 3.5%), $complementary-color);
  }

  &.active {
    background: lighten($complementary-color, 3%);
    @include linear-gradient(lighten($complementary-color, 3.5%), $complementary-color); 
  }

  input {
    color: #ffffff;
  }
}