<h2>Ingresa con</h2>

<%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %>
<%= link_to "Twitter", user_omniauth_authorize_path(:twitter) %>
<%= link_to "Github", user_omniauth_authorize_path(:github) %>
