
* {
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  font-family: $font;
  font-size: 14px;
}

p {
  color: $text;
  font-weight: 400;
  @include text-size-regular;
}

a:link {
  color: $primary-color;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: $black;
}

h1 {
  font-size: 54px;
  font-weight: 300;
  line-height: 66px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

hr {
  border-top: 0px; 
}

.main-header {
  background: $white;
  border-bottom: 1px solid #f2f2f2;
  z-index: 10;

  .devf-logo-head {
    .tagline {
      @include text-size-small;
      color: $meta;
    }
    
    .devf-logo {
      background-image: $devf-logo-black;
    }
  }
}

.devf-logo-gray {
  background-image: $devf-logo-gray;
}


.footer {
  background: #ecf0f2; 

  .footer-top {
    border-bottom: 1px solid #d9dddf;
  }

  .devf-brand-footer {
    text-align: right;
      
    .tagline {
      color: #c0c6c9;
      font-size: 12px;
    }
  }

  h5 {
    text-transform: uppercase;
    color: $meta;
    font-size: 16px;
    font-weight: 700;
  }

  .sponsors {
    text-align: center;
  }
}

.rqrd {
  color: red;
  font-weight: bold;
}