<div class="home-intro hero-intro">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-7">
        <div class="col-inner">
          <div class="headline">
            <h1>Desarrolla tu verano, hackea nuestro futuro.</h1>
            <br>
            <p>Dev.f es la escuela para crear y desarrollar soluciones a problemas del mundo real, utilizando las herramientas tecnológicas del momento.</p>
            <p>Estamos en la ciudad y tiempo indicados. <br>Nuestro secreto: más que desarrollar tecnología, desarrollamos personas.</p>
            <br>
            <%= link_to "Aplica Hoy a la escuela <span class='dev-f'>Dev.<i>f</i></span>".html_safe, new_application_path, class: 'btn btn-primary btn-large' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-home">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h2>Manifesto</h2>
            <p>desarrollamos.developers</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4">
        <div class="col-inner">
          <h3>Crear</h3>
          <p>La habilidad de crear algo donde antes no había nada es el talento más valioso del siglo XXI. En el dev.f vivirás un entrenamiento intenso al lado de senseis y mentores expertos en tecnología y aprenderás cómo pensar como creador. Así te convertirás en uno.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <h3>Colaborar</h3>
          <p>Es tu oportunidad de convivir hombro a hombro y de aprender con personas de diferentes perfiles y talentos a construir soluciones tangibles a proyectos reales. El núcleo de nuestra filosofía es aprender a construir construyendo.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <h3>Avanzar</h3>
          <p>El software está en constante cambio, por eso no basta con que aprendas a escribir código. Lo que realmente importa es que desarrolles las habilidades y seguridad requeridas para vencer cualquier obstáculo y nunca detenerte. Para esto existe el dev.f.</p>
        </div>
      </div>
    </div>
  </div>
</div>