<div class="home-intro hero-intro">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-7">
        <div class="col-inner">
          <div class="headline">
            <h1>Hackea tu verano, desarrolla el futuro.</h1>
            <br>

            <p>Dev.f es la escuela para creadores del futuro.</p>
            <br>

            <p>
            Vivimos en una epoca única, con tecnológica impresionante
            pero con un mundo lleno de interesantes problemas reales
            que están en busca de quién les de solución.
            </p>

            <p>
            Estamos buscando no a uno, sino una generación de jovenes DaVinci
            modernos, que usan la tecnología de su epoca, y se atreven
            a crear la del futuro. Creemos firmemente, que esa persona puedes ser tú.
            </p>

            <p>Nuestro secreto:<br/>Más que desarrollar tecnología, desarrollamos personas.</p>
            <br>
            <%= link_to "Programa de Verano inicia Julio 1, Inscribete Ahora!".html_safe, new_application_path, class: 'btn btn-primary btn-large' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-home">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h2>Manifesto</h2>
            <p>desarrollamos.developers</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4">
        <div class="col-inner">
          <h3>Crear</h3>
          <p>La habilidad de crear algo donde antes no había nada es el talento más valioso del siglo XXI. En el dev.f vivirás un entrenamiento intenso al lado de senseis y mentores expertos en tecnología, aprenderás a convertirte en un creador.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <h3>Colaborar</h3>
          <p>Es tu oportunidad de convivir hombro a hombro y de aprender con personas de diferentes perfiles y talentos a construir soluciones tangibles a proyectos reales. El núcleo de nuestra filosofía es aprender a construir construyendo.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <h3>Avanzar</h3>
          <p>La tecnología cambia constantemente, por eso no basta con aprender a escribir código. Lo que realmente importa es que desarrolles las habilidades y seguridad requeridas para 
          completar tus proyectos, vencer obstáculos y explotar al máximo tu potencial</p>
        </div>
      </div>
    </div>
  </div>
</div>