<div class="home-intro hero-intro">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-7">
        <div class="col-inner">
          <div class="headline">
            <h1>Hackea tu verano, desarrolla el futuro.</h1>
            <br>

            <p>Dev.f es la escuela para creadores del futuro.</p>
            <br>

            <p>
            Vivimos una epoca única, con tecnología impresionante
            pero en un mundo lleno de interesantes problemas reales.
            </p>

            <p>
            Estamos buscando, no a uno, sino una generación de jovenes DaVinci
            modernos, que usan la tecnología de su epoca y se atreven
            a inventar el futuro. Creemos firmemente que esa persona eres tú.
            </p>

            <p>Nuestro secreto:<br/>Más que desarrollar tecnología, desarrollamos personas.</p>
            <br>
            <%= link_to "Programa de Verano inicia Junio 16, Inscribete Ahora!".html_safe, new_application_path, class: 'btn btn-primary btn-large' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section manifest">
  <div class="wrapper">
    <div class="cols-12">
      <div class="section-title col-2">
        <h2>Manifesto</h2>
        <p>desarrollamos.developers</p>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4">
        <div class="col-inner">
          <h3>Crear</h3>
          <p>La habilidad de crear algo donde antes no había nada es el talento más valioso del siglo XXI. En el dev.f vivirás un entrenamiento intenso al lado de senseis y mentores expertos en tecnología, aprenderás a convertirte en un creador.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <h3>Colaborar</h3>
          <p>Un verdadero guerrero nunca se queda solo. 
          Es tu oportunidad de convivir hombro a hombro y de aprender con personas de diferentes perfiles y talentos a construir soluciones tangibles a proyectos reales. El núcleo de nuestra filosofía es aprender a construir construyendo.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <h3>Avanzar</h3>
          <p>La tecnología cambia constantemente, por eso no basta con aprender a escribir código. Lo que realmente importa es que desarrolles las habilidades y seguridad requeridas para 
          completar tus proyectos, vencer obstáculos y explotar al máximo tu potencial</p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="section program">
  <div class="wrapper">
    <div class="cols-12">
      <div class="section-title col-4">
        <h2>Programa Cinta Blanca</h2>
        <p>Fundamentos de desarrollo de software para principiantes</p>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4">
        <div class="col-inner">
          <h3>Sé parte de la generación que cambia el mundo.</h3>
          <p>Colabora en línea con comunidades open source a través de Github y aprende a manejar tu código con Git.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <h3>Web</h3>
          <p>Aprende cómo funciona internet, entendendo el núcleo de toda página web: HTML, CSS, Javascript.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <h3>Aplicaciones web modernas</h3>
          <p>Construye la cara de los sitios web con tecnologías de punta como AngularJS, Jquery, o cualquier otro framework moderno que te apetezca.</p>
        </div>
      </div>
    </div>    
    <br/>
    <br/>
    <br/>
    <div class="cols-12">
      <div class="col col-4">
        <div class="col-inner">
          <h3>Aplicaciones Móviles</h3>
          <p>Desarrolla aplicaciones móviles para los sistemas operativos más influyentes.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <h3>Enfoque de Entregar</h3>
          <p>Buenos hábitos para hacerte un desarrollador productivo.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <h3>Publica tu Proyecto</h3>
          <p>Crea y despliegua el corazón de tu aplicación web o móvil en la nube utilizando tecnologías que te den máxima agilidad como Rails, Parse, Firebase o NodeJS.</p>
        </div>
      </div>
    </div>    
  </div>
</div>
<hr />
<div class="section facilitators">
  <div class="wrapper">
    <div class="cols-12">
      <div class="section-title col-4">
        <h2>Conoce a tus senseis</h2>
        <p>Desarrolla tus chakras hacker</p>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4">
        <div class="col-inner">
          <h3>Victor Borja.</h3>
          <p>Victor es core commiter de Rubinius, Apache Buildr y co-autor de Fancy-lang. A lo largo de sus 14 años de experiencia en la industria ha trabajado como programador, líder técnico, consultor senior y ha creado dos startups de tecnología.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <h3>Enrique Diaz</h3>
          <p>Enrique se inició en el desarrollo móvil en 2009, y desde 2011 ha trabajado con compañías como Motorola, Google y Grupo Expansión. Es organizador de hackathones como SHDH y AngelHack y co-organizador del GDG Androidtitlan.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <h3>Sandra Macías</h3>
          <p>Sandra es nuestra experta en User Experience. Actualmente es consultora en Google México para la revisión y selección de aplicaciones Android para Google Play en LatAm. En el pasado Sandra dirigió los esfuerzos de diseño en Diverza.</p>
        </div>
      </div>
    </div>    
  </div>
</div>    



    